<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Rock, Paper, Scissors</title>
</head>
<body>
    <div class='container'>
        <h1>Rock, Paper, Scissors</h1>
        <h3>[intro statement to game]</h3>
        <form action= '/winner' role='form'>
            <div class='form-group'>
                <h4>Your Move</h4>
                <label class='form-group'>
                    <label class='radio-inline'>
                        <input id='p1' name='p1' type='radio' value='Rock'>
                        Rock
                    </label>
                    <label class='btn'>
                        <input id='p1' name='p1' type='radio' value='Paper'>
                        Paper
                    </label>
                    <label class='btn'>
                        <input id='p1' name='p1' type='radio' value='Scissors'>
                        Scissors
                    </label>
                </div>
            <!-- <div class='form-group'>
                <h4>Player 2</h4>
                <label class='radio-inline'>
                    <input id='p2' name='p2' type='radio' value='Rock'>
                    Rock
                </label>
                <label class='radio-inline'>
                    <input id='p2' name='p2' type='radio' value='Paper'>
                    Paper
                </label>
                <label class='radio-inline'>
                    <input id='p2' name='p2' type='radio' value='Scissors'>
                    Scissors
                </label>
            </div> -->
            <button type='submit' class='btn-success'>throw</button>
        </form>
    </div>
</body>
